/* global setting */
body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  color: var(--text-color);
}

:root {
  --icon-color: #00a82d;
  --text-color: #4a4a55;
  --color-red: #ff3e00;
  --color-blue: #40b3ff;
  --color-grey: #676778;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* navbar */
.navbar {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  color: var(--text-color);
}

.logo_text {
  font-size: 34px;
  position: absolute;
  top: 35px;
  font-weight: bolder;
  color: var(--text-color);
}

.svelte_logo_text {
  position: relative;
}
.navbar__logo {
  font-size: 20px;
}

.navbar__logo i {
  color: #00a82d;
}

.navbar__menu {
  list-style: none;
  display: flex;
  padding-left: 0px;
  font-size: 24px;
  color: var(--text-color);
}

.navbar__menu li {
  padding: 8px 12px;
  color: var(--text-color);
}

.navbar__links {
  list-style: none;
  display: flex;
  font-size: 15px;
}

.navbar__links a {
  font-size: 20px;
}
.navbar__links li {
  padding: 8px 8px;
  font-size: 24px;
  color: var(--text-color);
}

.navbar__links li a {
  font-size: 18px;
  color: var(--text-color);
}

.background__img {
  width: 100%;
}
.text {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 100px;
}

.text_two {
  position: absolute;
  top: 180px;
  left: 18px;
  font-size: 40px;
  font-weight: lighter;
  color: var(--text-color);
}

.text__body {
  position: relative;
}

/* carousel */
.work__details {
  position: absolute;
  top: 400px;
  margin-left: 140px;
  margin-right: 140px;
}
.work__projects {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.project__description {
  height: 55vh;
  color: white;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  border: 1px solid none;
  background-color: red;
  border-radius: 10px;
  margin-left: 20px;
}

.card_one {
  background-color: var(--color-red);
}

.card_two {
  background-color: var(--color-blue);
}

.card_three {
  background-color: var(--color-grey);
}

.title {
  font-size: 47px;
}

.description {
  font-size: 30px;
  font-weight: lighter;
}

.input__box {
  position: relative;
}

.arrow__icon {
  position: absolute;
  bottom: 20px;
  right: 90px;
  color: var(--text-color);
  font-weight: 200px;
}

.learn_more_input {
  position: relative;
}
.input {
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  font-size: 20px;
}
